adf-resources/pipeline/pl_ingest_prtg_raw_metadatadriven.json
{
	"name": "pl_ingest_prtg_raw_metadatadriven",
	"properties": {
		"activities": [
			{
				"name": "Get url",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "get_Urls_To_Process",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach URL reprocess xml",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get url').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy xml based on url",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_prtg_monitor_raw_xml",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@substring(item().Url,26,sub(length(item().Url),26))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_prtg_monitoring_binary",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().applicationid,'_',item().Period,'.xml')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-07T12:28:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}